In [116]:
import pandas as pd

In [117]:
file1 = "purchase_data2.json"
df_1 = pd.read_json(file1)
df_1.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [118]:
df_joined = df_1

In [119]:
#total players
total_players = df_joined['SN'].nunique()
total_players_df = pd.DataFrame(data=[total_players])
total_players_df = total_players_df.rename(columns={0:'Total Players'})
total_players_df

   Total Players
0             74

In [120]:
#purchasing analysis

purchasing_analysis_df = df_joined
unique_items = df_joined['Item Name'].nunique()
number_of_purchases = df_joined['Item Name'].count()
avg_price = round(df_joined['Price'].mean(),2)
total_revenue = round(df_joined['Price'].sum(),2)

purchasing_analysis = pd.DataFrame({'Number of Unique Items': [unique_items],
                                    'Average Price':[avg_price],
                                    'Number of Purchases':[number_of_purchases],
                                    'Total Revenue' : [total_revenue]})
purchasing_analysis['Average Price']= purchasing_analysis['Average Price'].map("${0:,.2f}".format)
purchasing_analysis['Total Revenue']= purchasing_analysis['Total Revenue'].map("${0:,.2f}".format)

purchasing_analysis.head()

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.92                   78                      63       $228.10

In [121]:
df_gender_total = df_joined
df_gender_total = pd.DataFrame(df_gender_total.groupby('Gender')['Gender'].count())
df_gender_total["Percentage of Players"] = round((df_gender_total['Gender']/ total_players) *100,2)
df_gender_total.sort_values("Percentage of Players", ascending= False)

                       Gender  Percentage of Players
Gender
Male                       64                  86.49
Female                     13                  17.57
Other / Non-Disclosed       1                   1.35

In [122]:
df_gender_purchasing  = df_joined
df_gender_purchasing = pd.DataFrame(df_gender_purchasing.groupby('Gender')['Item Name'].count())
df_gender_purchasing['Average Purchase Price'] = round((df_joined.groupby('Gender')['Price'].mean()),2)
df_gender_purchasing['Total Purchase Value'] = (df_joined.groupby('Gender')['Price'].sum())
df_gender_purchasing= df_gender_purchasing.rename(columns={'Item Name':'Purchase Count'})

In [123]:
df_gender_purchasing

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,13,3.18,41.38
Male,64,2.88,184.60
Other / Non-Disclosed,1,2.12,2.12

In [124]:
#age demogrpahics
df_age_1 = df_joined

bins = [0,10,14,19,24,29,34,39,40]

group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

df_age_1['Age Group Count']=pd.cut(df_age_1['Age'],bins, labels = group_names)

age_df = pd.DataFrame(df_age_1['Age Group Count'].value_counts()[group_names])
age_df['Percentage'] = round((age_df['Age Group Count']/ total_players ) *100,2)
age_df

#age_df.head()

       Age Group Count  Percentage
<10                  5        6.76
10-14                3        4.05
15-19               11       14.86
20-24               36       48.65
25-29                9       12.16
30-34                7        9.46
35-39                6        8.11
40+                  1        1.35

In [125]:
####Stuck here... something happened to my index and i'm not sure

df_popular_item = df_joined

df_joined.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN',
       'Age Group Count'],
      dtype='object')

In [128]:
df_popular_item = df_joined

In [141]:

# ###########

df_popular_item = df_joined


df_popular_item_new = pd.DataFrame(df_popular_item.groupby('Item ID')['Item Name'].value_counts())

type(df_popular_item_new['Item Name'])


df_popular_item_new['Sum Price'] = pd.DataFrame(df_popular_item.groupby(['Item ID', "Item Name"])['Price'].sum())

df_popular_item_new['Item Price'] = df_popular_item_new['Sum Price']/ df_popular_item_new['Item Name']

df_popular_item_new=df_popular_item_new.sort_values(['Sum Price'], ascending= False).head()

df_popular_item_new

                                           Item Name  Sum Price  Item Price
Item ID Item Name
94      Mourning Blade                             3      10.92        3.64
117     Heartstriker, Legacy of the Light          2       9.42        4.71
93      Apocalyptic Battlescythe                   2       8.98        4.49
90      Betrayer                                   2       8.24        4.12
154     Feral Katana                               2       8.22        4.11

KeyError: 'Item ID'

In [59]:
d

ValueError: cannot insert Item Name, already exists

In [34]:
df_popular_item_new = df_popular_item_new.rename(columns={'Item Name':'Item Name'})
df_popular_item_new["Purcahse Count"]= df_joined.groupby('Item ID')['Item Name'].count()
df_popular_item_new.set_index(df_popular_item_new['Item Name'])

df_popular_item_new = df_popular_item_new.rename(columns={'Item Name':'Item Name'})
df_popular_item_new["Purcahse Count"]= df_joined.groupby('Item ID')['Item Name'].count()
df_popular_item_new.columns()

KeyError: 'Item Name'

    Age Gender  Item ID Item Name  Price       SN Age Range
25   17   Male       71    Demise   3.09  Ilara98     15-19

In [ ]:
df_popular_item.columns